<div id="board">
	<div droppable id="sets">
			<div ng-repeat="set in boardSets">
				<tile draggable class="col-xs-1" ng-model="tileSet" ng-repeat="tileSet in set"></tile>
				<div class="col-xs-1"></div>
			</div>
			<tile-spot></tile-spot>
	</div>

	<div id="staging">
		<div class="row">
			<div class="col-xs-2">
				<tile-back ng-click="takeCard()"></tile-back>
			</div>
			<div class="col-xs-9" droppable>
				<tile draggable ng-model="stageTile" ng-repeat="stageTile in stagingTiles"></tile>
			</div>
			<div class="col-xs-1 done">
				<div class="row">
					<button class="btn btn-primary fa fa-arrow-right" ng-click="startGame()"></button>
				</div>
				<div class="row">
					<button class="btn btn-danger fa fa-times"></button>
				</div>
			</div>
		</div>
	</div>
</div>