<div class="jumbotron">
	<h1>Multi Rummi</h1>
	<p>The greatest game ever!</p>
	<input type="text" ng-model="username" class="form-control" placeholder="Name" />
</div>

<div class="row">
	<div class="col-xs-offset-4 col-xs-4">
		<button type="button" ng-controller="hostController" ng-click="hostGame()" class="btn btn-primary btn-lg btn-block">Host a game</button> 
	</div>
</div>
<br/>
<div class="row">
	<div class="col-xs-offset-4 col-xs-4">
		<button type="button" ng-controller="playerController" ng-click="joinGame()" class="btn btn-primary btn-lg btn-block">Join a game</button> 
	</div>
</div>