#playerBoard {
	overflow: hidden;
	overflow-x: scroll;
}

#playerScroll {
	width: 9000px;
}

.playerTile1 {
	display: block;
	white-space: nowrap;
	position: relative;
	float: left;
	left: 0;
	top: 0;
	-webkit-animation: slideshow 10s linear infinite;
	-moz-animation:    slideshow 10s linear infinite;
}

.spacer {
	width:2px;
	height: 5px;
	display: block;
	white-space: nowrap;
  	position: relative;
  	float: left;
  	left: 0;
  	top: 0;
  	-webkit-animation: slideshow 10s linear infinite;
  	-moz-animation:    slideshow 10s linear infinite;
}