#playerBoard{
	background:url(../img/dark_wood.png);
	/*background:url(http://subtlepatterns.com/patterns/wood_pattern.png);*/
}
#playerBoard button{
	height: 4em;
	width: 4em;
	margin: 0 1em;
	margin-bottom: 100vh; 
	margin-top: -63vh; 
}
#playerScroll{
	width: 95.4%;
	height: 100vh;
	overflow: hidden;
	overflow-x:scroll;
	display: inline-block;
}
.tileContainer {
	margin-top: 100px;
	float: left;
	-webkit-transition: margin-top 1s;
}
#infinitePlace{
	width: 90000px;
}